# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [31]:
number = 6

##### Assinging float

In [32]:
number_float = 2.3
print(number_float)
number_float = 7.2
print(number_float)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [33]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

# result += 2
print(result + 2)

7.4
9.4

##### Subtraction

In [34]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff - 1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [59]:
result_mul = num1 * num2
print(result)

result_mul *= 2
print(result_mul)

7.4
21.6

##### Division

In [60]:
result_div = num2 / num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [61]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [62]:
result_mod = 13 % 2
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [63]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [65]:
name = "Brandon"
print(name)

Brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [66]:
print("This is my first name: ", name)

print("Full name: ", name, end=" Apol")

This is my first name:  Brandon
Full name:  Brandon Apol

##### String Concatenation

In [68]:
first_name = 'John'
last_name = 'Smith'

full_name = first_name + ' ' + last_name
print(full_name)

John Smith

##### Type Conversion

In [69]:
number = "32"

change_type_num = int(number)

print(number)
print(change_type_num)

32
32

##### input()

In [70]:
age = int(input('What is your age?: '))
add_age = age + 5
print(add_age)

40

##### format()

In [72]:
age = input("What is your age? ")

result_string = "You are {} {} and are gettomg wiser".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

You are 12 Brandon amd are gettomg wiser
12 is a great time in life!!!

##### Old Way (python 2)

In [73]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 12 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [35]:
color = input('What is the color of your car?')
year = input('What is the year of your car?')
make = input('What is the make of your car?')
model = input('What is the model of your car?')

print(f"Your car is a {color} {year} {make} {model}")

Your car is a

### If Statements

In [74]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 1

# if num1 == num2:
#   print('Equal Values')
# else:
#   print('Not Equal)

if num2 < num1 or num3 > 0:
    print('This ran!')
else:
    print('You are here')

This ran!

##### 'is' keyword

In [75]:
# The is keyword is for checking for the same object, but not the same value

num3 = 55

if num3 == 55:
    print('This is the exact number/object')

This is the exact number/object

##### 'in' keyword

In [76]:
# Check if a character is in a string

char_name = 'Frodo Baggins'

if 'Frodo' in char_name:
    print('The ring bearer')

The ring bearer

##### 'not in' keyword'

In [77]:
sega_char = 'Sonic'

if 'a' not in sega_char:
    print('a is NOT here...')

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [79]:
word = input('Write anything!')
print('p' in word)

True

## Using 'and'/'or' with If Statements

In [80]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# If with and statement
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print('True and True')
    
# If with or statement
if num_13 == num_14 or num_11 > num_12:
    print('False and True')

True and True
False and True

### Elif Statements

In [81]:
first_name = input('What is your name? ')

if first_name == 'Smith':
    print('The name is Smith')
elif first_name == 'Brandon':
    print('The name is Brandon')
elif first_name != 'Max':
    print('The name is NOT Max')
else:
    print('The name is Max')

The name is NOT Max

### Else Statements

In [37]:
# see above

### For Loops

In [82]:
name = 'Brandon Apol'
a_list = [1, 2, 3, 4]

for i in a_list:
    print(i)

1
2
3
4

##### Using 'in' keyword

In [38]:
# see above

##### Continue Statement

In [39]:
# will continue to next iteration

In [83]:
name = 'Brandon Apol'

for i in name:
    if i == 'a':
        continue
    print(i)

B
r
n
d
o
n

A
p
o
l

##### Break Statement

In [40]:
# will break out of current loop

In [84]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [41]:
# mostly used as a placeholder, and will continue on same iteration

In [85]:
for i in name:
    pass

##### Double For Loops

In [86]:
for i in range(5):
    for j in range(5):
        print(f'i = {i} j = {j}')

i = 0 j = 0
i = 0 j = 1
i = 0 j = 2
i = 0 j = 3
i = 0 j = 4
i = 1 j = 0
i = 1 j = 1
i = 1 j = 2
i = 1 j = 3
i = 1 j = 4
i = 2 j = 0
i = 2 j = 1
i = 2 j = 2
i = 2 j = 3
i = 2 j = 4
i = 3 j = 0
i = 3 j = 1
i = 3 j = 2
i = 3 j = 3
i = 3 j = 4
i = 4 j = 0
i = 4 j = 1
i = 4 j = 2
i = 4 j = 3
i = 4 j = 4

### While Loops

In [87]:
num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [88]:
game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input('Would you like to stop? ')
    if user_input == 'Yes':
        game_over = False

Infinite Loop
Infinite Loop
Infinite Loop

##### While & For Loops Used Together

In [90]:
num = 0

while num < 5:
    print(f'\nWhile loop iteration: {str(num)}')
    
    for i in range(2):
        print(f'For loop iteration: {str(i + 1)}')
        
    num += 1

While loop iteration: 0
For loop iteration: 1
For loop iteration: 2

While loop iteration: 1
For loop iteration: 1
For loop iteration: 2

While loop iteration: 2
For loop iteration: 1
For loop iteration: 2

While loop iteration: 3
For loop iteration: 1
For loop iteration: 2

While loop iteration: 4
For loop iteration: 1
For loop iteration: 2

### Built-In Functions

##### range()

In [42]:
# range(Start, stop, step)

for i in range(1, 20, 3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [43]:
name = input('Give me the name of your favorite book: ')

length = len(name)
print(length)

0

##### help()

In [44]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [45]:
# Check a variable to find out what object family (or data type) it belongs to
# isinstance(var, type)

num = 4

if isinstance(num, int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float")

4 is an int

##### abs()

In [46]:
# |-5| = 5

print(abs(-5))

5

### Try and Except

In [47]:
# Log this to log out graceful and useful error messages
# Does not stop the program!

try:
    input_num = int(input('Guess a number'))
    print(f'Your number is: {str(input_num)}')
        
except:
    print("That didn't work! Change your input to a number!")

That didn't work! Change your input to a number!

### Lists

##### Declaring Lists

In [48]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

##### Indexing a List

In [49]:
# list_name = [start: stop: step]

# Single Index
print(names[0])

# Print starting at index 1 going to the end
print(names[1:])

# Print starting at the beginning of a list up until a number
print(names[:2])

# print starting at index 1 and going up by 2 in each iteration
print(names[1::2])

# print starting at the back and display in reverse order
print(names[::-1])

Max
['Cindy', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'Bob']
['Nate', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [50]:
names.append('Brandon')
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate', 'Brandon']

##### .insert()

In [51]:
names.insert(3, 'Devon')
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'Bob', 'Nate', 'Brandon']

##### .pop()

In [52]:
# Defaults ot the last value if no parameter is given
# Pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

Kathy
['Max', 'Cindy', 'Devon', 'Bob', 'Nate', 'Brandon']


##### .remove()

In [53]:
# Value to removed rather thatn index
names.remove('Bob')
print(names)

while 'Brandon' in names:
    names.remove('Brandon')
print(names)

['Max', 'Cindy', 'Devon', 'Nate', 'Brandon']
['Max', 'Cindy', 'Devon', 'Nate']

##### del()

In [54]:
# Goes by index rather than value
# Be careful wil del, it can cause indexing errors if not used carefully

del(names[1])
print(names)

['Max', 'Devon', 'Nate']

##### Concatenating Two Lists

In [55]:
# Will append to lists together, will not add the values

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [56]:
# Lists can hold any type of other elements! Including other lists!
# They can go as deep as your wan; this is called nested lists

names = ['Max', 'sam', 'Josh', ['Sally', ['Sue', 'Jim'], 'Tameka']]
print(names)
print(names[3][1][1])

['Max', 'sam', 'Josh', ['Sally', ['Sue', 'Jim'], 'Tameka']]
Jim

##### Looping Through Lists

In [57]:
# Two ways to loop thorugh a list! One is by index; the other is by using the 'in' keyword

# By idnex
for i in range(len(names)):
    print(names[i])
    
    # Loop with in
for i in names:
    print(i)

Max
sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']
Max
sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [92]:
active = True
num = 1

while active:
    cube = num ** 3
    if cube > 1000:
        active = False
    else:
        print(cube)
        num += 1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [99]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
num = 1

while num <= 100:
    prime = True
    
    if num % 2 == 0:
        prime = False
    else:
        half = num//2 + 1
        for i in range(3, half, 2):
            if num % i == 0:
                prime = False
        
    if prime:
        print(num)
    num += 1

1
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [102]:
age = int(input('What is your age? '))

if age < 18:
    print('kids')
elif age < 65:
    print('adults')
else:
    print('seniors')

seniors